In [98]:
# import blogin

# import urls
import import_ipynb
import Credentials
# import pandas as pd
# import numpy as np
import csv
import sys
import mysql.connector as msql
from mysql.connector import Error
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import warnings
import gc
# Stopping future warnings to display
warnings.simplefilter(action='ignore', category=FutureWarning)
from pptx import Presentation

In [99]:
from Credentials import dlogin

In [100]:
dlogin = dlogin()

In [101]:
import pandas as pd
import numpy as np

In [106]:
# Input start_date as a string in the format "%Y-%m-%d"
start_date_str = "2023-11-01"
end_date_str = "2023-11-30"
n_months = 6
# Convert start_date_str to a datetime object
c_start_date = datetime.strptime(start_date_str, "%Y-%m-%d")

#fetching last date of previous month
p_start_datetime = c_start_date.replace(day = 1) - timedelta(days = 1)

#fetching previous date of currenct month
p_end_datetime = c_start_date - timedelta(days = 1)

#converting into desired format
p_end_datetime.strftime("%Y-%m-%d")

# Dont know why converting
start_date = datetime.strptime(start_date_str, "%Y-%m-%d")
end_date = datetime.strptime(end_date_str, "%Y-%m-%d")

In [107]:
#creating 6 month period
end_date_object = datetime.strptime(end_date_str,"%Y-%m-%d")
start_date_object = end_date_object - relativedelta(months=n_months - 1)

In [108]:
p1 = start_date_object.strftime('%b-%y')
p2 = end_date_object.strftime('%b-%y')

In [109]:
p1

'Jun-23'

In [6]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)

In [111]:
mom = pd.DataFrame()
mom.to_excel("MOM.xlsx")

In [112]:
moms = r"C:\Users\Pc\Desktop\BLUEX WORKINGS\AUTOMATION\MOM.xlsx"

In [113]:
# try:
#     with open("MOM.csv", "w", encoding="UTF-8", newline='') as fp:
#         myFile = csv.writer(fp)

#         with conn.cursor() as cursor:
#             # Check database connection
#             cursor.execute("SELECT DATABASE();")
#             record = cursor.fetchone()
#             print("Connected to Database:", record)

#             # Define SQL query to fetch records within the date range
#             q1 = f"SELECT * FROM blueex.mom_history"
            
#             # Execute SQL query
#             cursor.execute(q1)

#             # Fetch all rows
#             rows = cursor.fetchall()

#             # Create DataFrame from fetched rows
#             df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

#             # Convert 'month' column to datetime format
#             df['months'] = pd.to_datetime(df['month'], format='%b-%y', errors='coerce')

#             # Filter DataFrame based on date range using between() method
#             filtered_df = df[df['months'].between(pd.to_datetime(p1, format='%b-%y', errors='coerce'),
#                                                  pd.to_datetime(p2, format='%b-%y', errors='coerce'))]

#             # Write filtered rows to CSV
#             filtered_df.to_csv(fp, index=False)

#             print("MOM HISTORY Records fetched and written to CSV:", len(filtered_df))

# except mysql.connector.Error as e:
#     print("Error occurred while connecting to MySQL:", e)
#     conn.rollback()  # Rollback any changes in case of error
#     sys.exit()  # Exit the script

In [114]:
excel_file_path =r"C:\Users\Pc\Desktop\BLUEX WORKINGS\AUTOMATION\MOM.xlsx"

try:
    # Create ExcelWriter object to write to Excel file
    with pd.ExcelWriter(excel_file_path, engine='openpyxl', mode='a') as writer:
        with conn.cursor() as cursor:
            # Check database connection
            cursor.execute("SELECT DATABASE();")
            record = cursor.fetchone()
            print("Connected to Database:", record)

            # Define SQL query to fetch records within the date range
            q1 = f"SELECT * FROM blueex.mom_history"
            
            # Execute SQL query
            cursor.execute(q1)

            # Fetch all rows
            rows = cursor.fetchall()

            # Create DataFrame from fetched rows
            df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

            # Convert 'month' column to datetime format
            df['months'] = pd.to_datetime(df['month'], format='%b-%y', errors='coerce')

            # Filter DataFrame based on date range
            filtered_df = df[df['months'].between(pd.to_datetime(p1, format='%b-%y', errors='coerce'),
                                                   pd.to_datetime(p2, format='%b-%y', errors='coerce'))]

            # Write filtered DataFrame to a new sheet in the Excel file
            sheet_name = "MOM HISTORY DATA"
            filtered_df.to_excel(writer, sheet_name=sheet_name, index=False)

            print(f"MOM HISTORY Records fetched and written to Excel sheet: '{sheet_name}'")
            print("MOM HISTORY Records fetched and written to CSV:", len(filtered_df))


except mysql.connector.Error as e:
    print("Error occurred while connecting to MySQL:", e)
    conn.rollback()  # Rollback any changes in case of error
    sys.exit()

Connected to Database: ('blueex',)

MOM HISTORY Records fetched and written to Excel sheet: 'MOM HISTORY DATA'
MOM HISTORY Records fetched and written to CSV: 12318

In [115]:
len(rows)

35556

In [116]:
filtered_df

,year,year_seq,month,month_seq,seq,acc_no,cust_name,sp_name,cust_type,search,...,r_s_nchrg,r_wght,r_wght_wc,r_wght_za,r_wght_zb,r_wght_zc,r_wght_chrg,r_wght_nchrg,ret_revenue,months
11384,2023,24,Jun-23,6,282,KHI-04152,Autojin.Pk,Syed Atif Hussain,Normal,KHI-04152 - Autojin.Pk,...,6,6.5,2.0,0.0,0.5,4.0,0.0,6.5,0.0,2023-06-01
11385,2023,24,Jun-23,6,282,LHE-03126,Forever Shoes,Adven Bhatti,Normal,LHE-03126 - Forever Shoes,...,19,18.5,3.0,10.5,4.0,1.0,0.0,18.5,0.0,2023-06-01
11386,2023,24,Jun-23,6,282,KHI-07929,chyll,Salman Asif,Normal,KHI-07929 - chyll,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-06-01
11387,2023,24,Jun-23,6,282,KHI-07716,LESSTHAN1THOUSAND,Syeda Qurat-Ul-Ain,Normal,KHI-07716 - LESSTHAN1THOUSAND,...,0,703.0,119.5,502.5,71.5,9.5,703.0,0.0,15260.0,2023-06-01
11388,2023,24,Jun-23,6,282,KHI-09092,Red Carpet,Ubaid Essa,Normal,KHI-09092 - Red Carpet,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23697,2023,24,Nov-23,11,287,LHE-03725,ZOJJA,Adven Bhatti,Normal,LHE-03725 - ZOJJA,...,21,10.5,1.5,7.5,1.5,0.0,0.0,10.5,0.0,2023-11-01
23698,2023,24,Nov-23,11,287,PEW-00363,Dehleez shop,Ali Raza,Normal,PEW-00363 - Dehleez shop,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-11-01
23699,2023,24,Nov-23,11,287,KHI-10819,A.R COSMETIC KARACHI,Sadia Niazi,Normal,KHI-10819 - A.R COSMETIC KARACHI,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-11-01
23700,2023,24,Nov-23,11,287,KHI-10834,SSSACCESSORIES,Saniya Afzal,Normal,KHI-10834 - SSSACCESSORIES,...,0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,15.0,2023-11-01
23701,2023,24,Nov-23,11,287,LHE-04040,Thepromen,Adven Bhatti,Normal,LHE-04040 - Thepromen,...,30,15.0,3.0,8.5,1.0,2.5,0.0,15.0,0.0,2023-11-01

# PPT 1

In [117]:
Summarize_Mom_Rep = filtered_df.groupby('month').agg(
    Active_Accounts = ('acc_no',"count"),
    Normal_Shipments = ("shipments","sum"),
    Normal_Weight = ('n_wght',"sum"),
    Weight_Charges = ('n_wght_chgs',"sum"),
    Cash_handling = ('n_oth_chgs',"sum"),
    fuel_Surcharge = ('n_fsc',"sum"),
    Total_normal_rev = ("n_rev","sum")
).reset_index()

In [118]:
Summarize_Mom_Rep["RPS"] = round(Summarize_Mom_Rep["Total_normal_rev"]/Summarize_Mom_Rep["Normal_Shipments"],2)

In [119]:
Summarize_Mom_Rep["RPW"] = round(Summarize_Mom_Rep["Total_normal_rev"]/Summarize_Mom_Rep["Normal_Weight"],2)

In [120]:
Summarize_Mom_Rep["WPS"] = round(Summarize_Mom_Rep["Normal_Weight"]/Summarize_Mom_Rep["Normal_Shipments"],2)

In [121]:
Summarize_Mom_Rep

,month,Active_Accounts,Normal_Shipments,Normal_Weight,Weight_Charges,Cash_handling,fuel_Surcharge,Total_normal_rev,RPS,RPW,WPS
0,Aug-23,2097,373097,389458.31,63649440.85,2746505.28,5286748.04,71682694.06,192.13,184.06,1.04
1,Jul-23,1860,297911,311389.73,50977537.44,2199401.21,4256268.88,57433207.45,192.79,184.44,1.05
2,Jun-23,2012,292127,314794.25,50445727.24,2024171.74,4160564.20,56630463.18,193.86,179.90,1.08
3,Nov-23,2099,375299,422056.13,67056960.47,2423027.73,9122673.09,78602661.22,209.44,186.24,1.12
4,Oct-23,2108,345749,383728.43,60562011.68,2140751.97,9035914.20,71738677.81,207.49,186.95,1.11
5,Sep-23,2142,351551,378162.21,60704189.21,2394469.03,8059524.79,71158182.98,202.41,188.17,1.08

In [122]:
Summarize_Mom_Rep = Summarize_Mom_Rep.pivot_table(index=None, columns='month', aggfunc='sum')

In [123]:
Summarize_Mom_Rep = Summarize_Mom_Rep.reset_index()

In [124]:
Summarize_Mom_Rep.rename(columns={'index': 'AccountHeads'}, inplace=True)

In [125]:
Summarize_Mom_Rep

month,AccountHeads,Aug-23,Jul-23,Jun-23,Nov-23,Oct-23,Sep-23
0,Active_Accounts,2097.00,1860.00,2012.00,2099.00,2108.00,2142.00
1,Cash_handling,2746505.28,2199401.21,2024171.74,2423027.73,2140751.97,2394469.03
2,Normal_Shipments,373097.00,297911.00,292127.00,375299.00,345749.00,351551.00
3,Normal_Weight,389458.31,311389.73,314794.25,422056.13,383728.43,378162.21
4,RPS,192.13,192.79,193.86,209.44,207.49,202.41
5,RPW,184.06,184.44,179.90,186.24,186.95,188.17
6,Total_normal_rev,71682694.06,57433207.45,56630463.18,78602661.22,71738677.81,71158182.98
7,WPS,1.04,1.05,1.08,1.12,1.11,1.08
8,Weight_Charges,63649440.85,50977537.44,50445727.24,67056960.47,60562011.68,60704189.21
9,fuel_Surcharge,5286748.04,4256268.88,4160564.20,9122673.09,9035914.20,8059524.79

In [126]:
month_columns= ['AccountHeads'] + sorted(Summarize_Mom_Rep.columns[1:], key=lambda x: pd.to_datetime(x, format='%b-%y'))

In [127]:
mon_col = month_columns[1:]

In [128]:
mon_col

['Jun-23', 'Jul-23', 'Aug-23', 'Sep-23', 'Oct-23', 'Nov-23']

In [129]:
Summarize_Mom_Rep = Summarize_Mom_Rep[month_columns]

In [130]:
Summarize_Mom_Rep

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23
0,Active_Accounts,2012.00,1860.00,2097.00,2142.00,2108.00,2099.00
1,Cash_handling,2024171.74,2199401.21,2746505.28,2394469.03,2140751.97,2423027.73
2,Normal_Shipments,292127.00,297911.00,373097.00,351551.00,345749.00,375299.00
3,Normal_Weight,314794.25,311389.73,389458.31,378162.21,383728.43,422056.13
4,RPS,193.86,192.79,192.13,202.41,207.49,209.44
5,RPW,179.90,184.44,184.06,188.17,186.95,186.24
6,Total_normal_rev,56630463.18,57433207.45,71682694.06,71158182.98,71738677.81,78602661.22
7,WPS,1.08,1.05,1.04,1.08,1.11,1.12
8,Weight_Charges,50445727.24,50977537.44,63649440.85,60704189.21,60562011.68,67056960.47
9,fuel_Surcharge,4160564.20,4256268.88,5286748.04,8059524.79,9035914.20,9122673.09

### FOR DIFFERENCE

In [131]:
for i in range(1, len(mon_col)):
    current_month = mon_col[i]
    previous_month = mon_col[i - 1]
    
    # Calculate difference between current month and previous month
    difference = Summarize_Mom_Rep[current_month] - Summarize_Mom_Rep[previous_month]
    
    # Create new column name for the difference
    new_column_name = f'{current_month} (Inc/Dec)'
    
    # Assign the difference to the new column
    Summarize_Mom_Rep[new_column_name] = difference

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3221593206.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3221593206.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3221593206.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3221593206.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3221593206.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference

### FOR PERCENTAGE CHANGE

In [132]:
for i in range(1, len(mon_col)):
    current_month = mon_col[i]
    previous_month = mon_col[i - 1]
    
    # Calculate difference between current month and previous month
    difference = (Summarize_Mom_Rep[current_month]/Summarize_Mom_Rep[previous_month])-1
    
    # Create new column name for the difference
    new_column_name = f'{current_month} (%_chng)'
    
    # Assign the difference to the new column
    Summarize_Mom_Rep[new_column_name] = difference

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3507278762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3507278762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3507278762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3507278762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3507278762.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep[new_column_name] = difference

In [133]:
Summarize_Mom_Rep["AccountHeads"]

0     Active_Accounts
1       Cash_handling
2    Normal_Shipments
3       Normal_Weight
4                 RPS
5                 RPW
6    Total_normal_rev
7                 WPS
8      Weight_Charges
9      fuel_Surcharge
Name: AccountHeads, dtype: object

In [134]:
account_heads_order = [
    'Active_Accounts', "Normal_Shipments","Normal_Weight","Weight_Charges","fuel_Surcharge","Cash_handling","Total_normal_rev","RPS","RPW","WPS"
]

# Convert 'AccountHeads' column to Categorical with specified order
Summarize_Mom_Rep['AccountHeads'] = pd.Categorical(Summarize_Mom_Rep['AccountHeads'], categories=account_heads_order, ordered=True)

# Sort DataFrame by the custom order of 'AccountHeads'
Summarize_Mom_Rep = Summarize_Mom_Rep.sort_values(by='AccountHeads')

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\668453477.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Mom_Rep['AccountHeads'] = pd.Categorical(Summarize_Mom_Rep['AccountHeads'], categories=account_heads_order, ordered=True)

In [135]:
Summarize_Mom_Rep

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Jul-23 (Inc/Dec),Aug-23 (Inc/Dec),Sep-23 (Inc/Dec),Oct-23 (Inc/Dec),Nov-23 (Inc/Dec),Jul-23 (%_chng),Aug-23 (%_chng),Sep-23 (%_chng),Oct-23 (%_chng),Nov-23 (%_chng)
0,Active_Accounts,2012.00,1860.00,2097.00,2142.00,2108.00,2099.00,-152.00,237.00,45.00,-34.00,-9.00,-0.075547,0.127419,0.021459,-0.015873,-0.004269
2,Normal_Shipments,292127.00,297911.00,373097.00,351551.00,345749.00,375299.00,5784.00,75186.00,-21546.00,-5802.00,29550.00,0.019800,0.252377,-0.057749,-0.016504,0.085467
3,Normal_Weight,314794.25,311389.73,389458.31,378162.21,383728.43,422056.13,-3404.52,78068.58,-11296.10,5566.22,38327.70,-0.010815,0.250710,-0.029005,0.014719,0.099882
8,Weight_Charges,50445727.24,50977537.44,63649440.85,60704189.21,60562011.68,67056960.47,531810.20,12671903.41,-2945251.64,-142177.53,6494948.79,0.010542,0.248578,-0.046273,-0.002342,0.107245
9,fuel_Surcharge,4160564.20,4256268.88,5286748.04,8059524.79,9035914.20,9122673.09,95704.68,1030479.16,2772776.75,976389.41,86758.89,0.023003,0.242109,0.524477,0.121147,0.009602
1,Cash_handling,2024171.74,2199401.21,2746505.28,2394469.03,2140751.97,2423027.73,175229.47,547104.07,-352036.25,-253717.06,282275.76,0.086568,0.248751,-0.128176,-0.105960,0.131858
6,Total_normal_rev,56630463.18,57433207.45,71682694.06,71158182.98,71738677.81,78602661.22,802744.27,14249486.61,-524511.08,580494.83,6863983.41,0.014175,0.248105,-0.007317,0.008158,0.095680
4,RPS,193.86,192.79,192.13,202.41,207.49,209.44,-1.07,-0.66,10.28,5.08,1.95,-0.005519,-0.003423,0.053505,0.025098,0.009398
5,RPW,179.90,184.44,184.06,188.17,186.95,186.24,4.54,-0.38,4.11,-1.22,-0.71,0.025236,-0.002060,0.022330,-0.006483,-0.003798
7,WPS,1.08,1.05,1.04,1.08,1.11,1.12,-0.03,-0.01,0.04,0.03,0.01,-0.027778,-0.009524,0.038462,0.027778,0.009009

# PPT 2

In [136]:
dff = filtered_df['ret_ship']!=0

In [137]:
for_ratios = filtered_df.groupby("month")[["shipments","n_wght"]].sum().reset_index()

In [138]:
Ret_df = filtered_df[dff == True]

In [139]:
Ret_df.columns

Index(['year', 'year_seq', 'month', 'month_seq', 'seq', 'acc_no', 'cust_name',
       'sp_name', 'cust_type', 'search', 'shipments', 'n_s_wc', 'n_s_za',
       'n_s_zb', 'n_s_zc', 'kg_0_0_5', 'kg_0_5_1_0', 'kgs_1_0_3_0',
       'kgs_3_0_5_0', 'kgs_5_0', 'n_s_cod', 'n_s_cod_wc', 'n_s_cod_za',
       'n_s_cod_zb', 'n_s_cod_zc', 'n_s_ncod', 'n_wght', 'n_wght_wc',
       'n_wght_za', 'n_wght_zb', 'n_wght_zc', 'n_wght_chgs', 'n_oth_chgs',
       'n_fsc', 'n_rev', 'n_rev_wc', 'n_rev_za', 'n_rev_zb', 'n_rev_zc', 'cod',
       'cod_wc', 'cod_za', 'cod_zb', 'cod_zc', 'ret_ship', 'r_s_wc', 'r_s_za',
       'r_s_zb', 'r_s_zc', 'r_s_chrg', 'r_s_nchrg', 'r_wght', 'r_wght_wc',
       'r_wght_za', 'r_wght_zb', 'r_wght_zc', 'r_wght_chrg', 'r_wght_nchrg',
       'ret_revenue', 'months'],
      dtype='object')

In [140]:
Summarize_Ret_df = Ret_df.groupby("month").agg(
    active_accounts = ("acc_no","count"),
    Return_Shipment = ("ret_ship","sum"),
    Return_Weight = ('r_wght',"sum"),
    return_revenue = ('ret_revenue',"sum")
    

).reset_index()

In [141]:
Summarize_Ret_df["RPS"] = round(Summarize_Ret_df["return_revenue"]/Summarize_Ret_df["Return_Shipment"],2)

In [142]:
Summarize_Ret_df["RPW"] = round(Summarize_Ret_df["return_revenue"]/Summarize_Ret_df["Return_Weight"],2)

In [143]:
Summarize_Ret_df["Shipment_Ret_ration"] = round(Summarize_Ret_df["Return_Shipment"]/for_ratios["shipments"]*100,2)

In [144]:
Summarize_Ret_df["Weight_ret_ratio"] = round(Summarize_Ret_df["Return_Weight"]/for_ratios["n_wght"]*100,2)

In [145]:
Summarize_Ret_df = Summarize_Ret_df.pivot_table(index=None, columns='month', aggfunc='sum').reset_index()

In [146]:
Summarize_Ret_df

month,index,Aug-23,Jul-23,Jun-23,Nov-23,Oct-23,Sep-23
0,RPS,12.85,13.83,14.23,11.15,11.78,12.19
1,RPW,15.19,16.00,16.51,11.82,13.50,14.18
2,Return_Shipment,61736.00,49316.00,47596.00,62430.00,54890.00,56624.00
3,Return_Weight,52230.28,42615.75,41033.34,58931.62,47884.72,48691.29
4,Shipment_Ret_ration,16.55,16.55,16.29,16.63,15.88,16.11
5,Weight_ret_ratio,13.41,13.69,13.03,13.96,12.48,12.88
6,active_accounts,1396.00,1206.00,1306.00,1388.00,1324.00,1399.00
7,return_revenue,793316.00,681822.00,677402.00,696400.00,646607.00,690218.00

In [147]:
Summarize_Ret_df.rename(columns={'index': 'AccountHeads'}, inplace=True)

In [148]:
month_columns= ['AccountHeads'] + sorted(Summarize_Ret_df.columns[1:], key=lambda x: pd.to_datetime(x, format='%b-%y'))

In [149]:
Summarize_Ret_df

month,AccountHeads,Aug-23,Jul-23,Jun-23,Nov-23,Oct-23,Sep-23
0,RPS,12.85,13.83,14.23,11.15,11.78,12.19
1,RPW,15.19,16.00,16.51,11.82,13.50,14.18
2,Return_Shipment,61736.00,49316.00,47596.00,62430.00,54890.00,56624.00
3,Return_Weight,52230.28,42615.75,41033.34,58931.62,47884.72,48691.29
4,Shipment_Ret_ration,16.55,16.55,16.29,16.63,15.88,16.11
5,Weight_ret_ratio,13.41,13.69,13.03,13.96,12.48,12.88
6,active_accounts,1396.00,1206.00,1306.00,1388.00,1324.00,1399.00
7,return_revenue,793316.00,681822.00,677402.00,696400.00,646607.00,690218.00

In [150]:
mon_col = month_columns[1:]
Summarize_Ret_df = Summarize_Ret_df[month_columns]

In [151]:
Summarize_Ret_df

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23
0,RPS,14.23,13.83,12.85,12.19,11.78,11.15
1,RPW,16.51,16.00,15.19,14.18,13.50,11.82
2,Return_Shipment,47596.00,49316.00,61736.00,56624.00,54890.00,62430.00
3,Return_Weight,41033.34,42615.75,52230.28,48691.29,47884.72,58931.62
4,Shipment_Ret_ration,16.29,16.55,16.55,16.11,15.88,16.63
5,Weight_ret_ratio,13.03,13.69,13.41,12.88,12.48,13.96
6,active_accounts,1306.00,1206.00,1396.00,1399.00,1324.00,1388.00
7,return_revenue,677402.00,681822.00,793316.00,690218.00,646607.00,696400.00

### FOR DIFFERENCE

In [152]:
for i in range(1, len(mon_col)):
    current_month = mon_col[i]
    previous_month = mon_col[i - 1]
    
    # Calculate difference between current month and previous month
    difference = Summarize_Ret_df[current_month] - Summarize_Ret_df[previous_month]
    
    # Create new column name for the difference
    new_column_name = f'{current_month} (Inc/Dec)'
    
    # Assign the difference to the new column
    Summarize_Ret_df[new_column_name] = difference

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\642246776.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\642246776.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\642246776.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\642246776.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\642246776.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference

In [153]:
Summarize_Ret_df

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Jul-23 (Inc/Dec),Aug-23 (Inc/Dec),Sep-23 (Inc/Dec),Oct-23 (Inc/Dec),Nov-23 (Inc/Dec)
0,RPS,14.23,13.83,12.85,12.19,11.78,11.15,-0.40,-0.98,-0.66,-0.41,-0.63
1,RPW,16.51,16.00,15.19,14.18,13.50,11.82,-0.51,-0.81,-1.01,-0.68,-1.68
2,Return_Shipment,47596.00,49316.00,61736.00,56624.00,54890.00,62430.00,1720.00,12420.00,-5112.00,-1734.00,7540.00
3,Return_Weight,41033.34,42615.75,52230.28,48691.29,47884.72,58931.62,1582.41,9614.53,-3538.99,-806.57,11046.90
4,Shipment_Ret_ration,16.29,16.55,16.55,16.11,15.88,16.63,0.26,0.00,-0.44,-0.23,0.75
5,Weight_ret_ratio,13.03,13.69,13.41,12.88,12.48,13.96,0.66,-0.28,-0.53,-0.40,1.48
6,active_accounts,1306.00,1206.00,1396.00,1399.00,1324.00,1388.00,-100.00,190.00,3.00,-75.00,64.00
7,return_revenue,677402.00,681822.00,793316.00,690218.00,646607.00,696400.00,4420.00,111494.00,-103098.00,-43611.00,49793.00

### FOR PERCENTAGE CHANGE

In [154]:
for i in range(1, len(mon_col)):
    current_month = mon_col[i]
    previous_month = mon_col[i - 1]
    
    # Calculate difference between current month and previous month
    difference = (Summarize_Ret_df[current_month]/Summarize_Ret_df[previous_month])-1
    
    # Create new column name for the difference
    new_column_name = f'{current_month} (%_chng)'
    
    # Assign the difference to the new column
    Summarize_Ret_df[new_column_name] = difference

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\530615295.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\530615295.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\530615295.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\530615295.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference
C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\530615295.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df[new_column_name] = difference

In [155]:
Summarize_Ret_df["AccountHeads"]

0                    RPS
1                    RPW
2        Return_Shipment
3          Return_Weight
4    Shipment_Ret_ration
5       Weight_ret_ratio
6        active_accounts
7         return_revenue
Name: AccountHeads, dtype: object

In [156]:
account_heads_order = [
    'active_accounts', "Return_Shipment","Shipment_Ret_ration","Return_Weight","Weight_ret_ratio","return_revenue","RPS","RPW"
]

# Convert 'AccountHeads' column to Categorical with specified order
Summarize_Ret_df['AccountHeads'] = pd.Categorical(Summarize_Ret_df['AccountHeads'], categories=account_heads_order, ordered=True)

# Sort DataFrame by the custom order of 'AccountHeads'
Summarize_Ret_df = Summarize_Ret_df.sort_values(by='AccountHeads')

C:\Users\Pc\AppData\Local\Temp\ipykernel_16196\3953243086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Summarize_Ret_df['AccountHeads'] = pd.Categorical(Summarize_Ret_df['AccountHeads'], categories=account_heads_order, ordered=True)

In [157]:
Summarize_Ret_df

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Jul-23 (Inc/Dec),Aug-23 (Inc/Dec),Sep-23 (Inc/Dec),Oct-23 (Inc/Dec),Nov-23 (Inc/Dec),Jul-23 (%_chng),Aug-23 (%_chng),Sep-23 (%_chng),Oct-23 (%_chng),Nov-23 (%_chng)
6,active_accounts,1306.00,1206.00,1396.00,1399.00,1324.00,1388.00,-100.00,190.00,3.00,-75.00,64.00,-0.076570,0.157546,0.002149,-0.053610,0.048338
2,Return_Shipment,47596.00,49316.00,61736.00,56624.00,54890.00,62430.00,1720.00,12420.00,-5112.00,-1734.00,7540.00,0.036137,0.251845,-0.082804,-0.030623,0.137366
4,Shipment_Ret_ration,16.29,16.55,16.55,16.11,15.88,16.63,0.26,0.00,-0.44,-0.23,0.75,0.015961,0.000000,-0.026586,-0.014277,0.047229
3,Return_Weight,41033.34,42615.75,52230.28,48691.29,47884.72,58931.62,1582.41,9614.53,-3538.99,-806.57,11046.90,0.038564,0.225610,-0.067757,-0.016565,0.230698
5,Weight_ret_ratio,13.03,13.69,13.41,12.88,12.48,13.96,0.66,-0.28,-0.53,-0.40,1.48,0.050652,-0.020453,-0.039523,-0.031056,0.118590
7,return_revenue,677402.00,681822.00,793316.00,690218.00,646607.00,696400.00,4420.00,111494.00,-103098.00,-43611.00,49793.00,0.006525,0.163524,-0.129958,-0.063184,0.077007
0,RPS,14.23,13.83,12.85,12.19,11.78,11.15,-0.40,-0.98,-0.66,-0.41,-0.63,-0.028110,-0.070860,-0.051362,-0.033634,-0.053480
1,RPW,16.51,16.00,15.19,14.18,13.50,11.82,-0.51,-0.81,-1.01,-0.68,-1.68,-0.030890,-0.050625,-0.066491,-0.047955,-0.124444

In [158]:
Summarize_Mom_Rep

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Jul-23 (Inc/Dec),Aug-23 (Inc/Dec),Sep-23 (Inc/Dec),Oct-23 (Inc/Dec),Nov-23 (Inc/Dec),Jul-23 (%_chng),Aug-23 (%_chng),Sep-23 (%_chng),Oct-23 (%_chng),Nov-23 (%_chng)
0,Active_Accounts,2012.00,1860.00,2097.00,2142.00,2108.00,2099.00,-152.00,237.00,45.00,-34.00,-9.00,-0.075547,0.127419,0.021459,-0.015873,-0.004269
2,Normal_Shipments,292127.00,297911.00,373097.00,351551.00,345749.00,375299.00,5784.00,75186.00,-21546.00,-5802.00,29550.00,0.019800,0.252377,-0.057749,-0.016504,0.085467
3,Normal_Weight,314794.25,311389.73,389458.31,378162.21,383728.43,422056.13,-3404.52,78068.58,-11296.10,5566.22,38327.70,-0.010815,0.250710,-0.029005,0.014719,0.099882
8,Weight_Charges,50445727.24,50977537.44,63649440.85,60704189.21,60562011.68,67056960.47,531810.20,12671903.41,-2945251.64,-142177.53,6494948.79,0.010542,0.248578,-0.046273,-0.002342,0.107245
9,fuel_Surcharge,4160564.20,4256268.88,5286748.04,8059524.79,9035914.20,9122673.09,95704.68,1030479.16,2772776.75,976389.41,86758.89,0.023003,0.242109,0.524477,0.121147,0.009602
1,Cash_handling,2024171.74,2199401.21,2746505.28,2394469.03,2140751.97,2423027.73,175229.47,547104.07,-352036.25,-253717.06,282275.76,0.086568,0.248751,-0.128176,-0.105960,0.131858
6,Total_normal_rev,56630463.18,57433207.45,71682694.06,71158182.98,71738677.81,78602661.22,802744.27,14249486.61,-524511.08,580494.83,6863983.41,0.014175,0.248105,-0.007317,0.008158,0.095680
4,RPS,193.86,192.79,192.13,202.41,207.49,209.44,-1.07,-0.66,10.28,5.08,1.95,-0.005519,-0.003423,0.053505,0.025098,0.009398
5,RPW,179.90,184.44,184.06,188.17,186.95,186.24,4.54,-0.38,4.11,-1.22,-0.71,0.025236,-0.002060,0.022330,-0.006483,-0.003798
7,WPS,1.08,1.05,1.04,1.08,1.11,1.12,-0.03,-0.01,0.04,0.03,0.01,-0.027778,-0.009524,0.038462,0.027778,0.009009

# for table creating in ppt

In [159]:
# from pptx import Presentation
# from pptx.util import Inches, Pt

# # Sample DataFrame representing your data
# data = {
#     'AccountHeads': [
#         'Active_Accounts', 'Normal_Shipments', 'Normal_Weight', 'Weight_Charges', 'fuel_Surcharge',
#         'Cash_handling', 'Total_normal_rev', 'RPS', 'RPW', 'WPS'
#     ],
#     'Jun-23': [2012.00, 292127.00, 314794.25, 50445727.24, 4160564.20, 2024171.74, 56630463.18, 193.86, 179.90, 1.08],
#     'Jul-23': [1860.00, 297911.00, 311389.73, 50977537.44, 4256268.88, 2199401.21, 57433207.45, 192.79, 184.44, 1.05],
#     'Aug-23': [2097.00, 373097.00, 389458.31, 63649440.85, 5286748.04, 2746505.28, 71682694.06, 192.13, 184.06, 1.04],
#     'Sep-23': [2142.00, 351551.00, 378162.21, 60704189.21, 8059524.79, 2394469.03, 71158182.98, 202.41, 188.17, 1.08],
#     'Oct-23': [2108.00, 345749.00, 383728.43, 60562011.68, 9035914.20, 2140751.97, 71738677.81, 207.49, 186.95, 1.11],
#     'Nov-23': [2099.00, 375299.00, 422056.13, 67056960.47, 9122673.09, 2423027.73, 78602661.22, 209.44, 186.24, 1.12],
#     'Jul-23 (Inc/Dec)': [-152.00, 5784.00, -3404.52, 531810.20, 95704.68, 175229.47, 802744.27, -1.07, 4.54, -0.03],
#     'Aug-23 (Inc/Dec)': [237.00, 75186.00, 78068.58, 12671903.41, 1030479.16, 547104.07, 14249486.61, -0.66, -0.38, -0.01],
#     'Sep-23 (Inc/Dec)': [45.00, -21546.00, -11296.10, -2945251.64, 2772776.75, -352036.25, -524511.08, 10.28, 4.11, 0.04],
#     'Oct-23 (Inc/Dec)': [-34.00, -5802.00, 5566.22, -142177.53, 976389.41, -253717.06, 580494.83, 5.08, -1.22, 0.03],
#     'Nov-23 (Inc/Dec)': [-9.00, 29550.00, 38327.70, 6494948.79, 86758.89, 282275.76, 6863983.41, 1.95, -0.71, 0.01],
#     'Jul-23 (%_chng)': [-0.075547, 0.019800, -0.010815, 0.010542, 0.023003, 0.086568, 0.014175, -0.005519, 0.025236, -0.027778],
#     'Aug-23 (%_chng)': [0.127419, 0.252377, 0.250710, 0.248578, 0.242109, 0.248751, 0.248105, -0.003423, -0.002060, -0.009524],
#     'Sep-23 (%_chng)': [0.021459, -0.057749, -0.029005, -0.046273, 0.524477, -0.128176, -0.007317, 0.053505, 0.022330, 0.038462],
#     'Oct-23 (%_chng)': [-0.015873, -0.016504, 0.014719, -0.002342, 0.121147, -0.105960, 0.008158, 0.025098, -0.006483, 0.027778],
#     'Nov-23 (%_chng)': [-0.004269, 0.085467, 0.099882, 0.107245, 0.009602, 0.131858, 0.095680, 0.009398, -0.003798, 0.009009]
# }

# # Create a new PowerPoint presentation
# prs = Presentation()

# # Choose a blank slide layout (index 6 typically represents a blank layout)
# blank_slide_layout = prs.slide_layouts[6]

# # Add a slide using the selected blank layout
# slide = prs.slides.add_slide(blank_slide_layout)

# # Add a title to the slide
# title_shape = slide.shapes.add_textbox(Inches(0.5), Inches(0.5), Inches(8), Inches(1))
# title_text_frame = title_shape.text_frame
# title_text_frame.text = "Key Stats for the Month of March 2024 - Normal Shipments"
# title_paragraph = title_text_frame.paragraphs[0]
# title_paragraph.font.size = Pt(14)
# title_paragraph.font.bold = True

# # Add a table to the slide
# left, top, width, height = Inches(0.5), Inches(1.5), Inches(9), Inches(5)
# table = slide.shapes.add_table(len(data['AccountHeads']) + 1, len(data), left, top, width, height).table

# # Set column widths for the table
# column_widths = [Inches(3)] + [Inches(1.5)] * (len(data) - 1)  # Set wider width for AccountHeads column
# for i, width in enumerate(column_widths):
#     table.columns[i].width = width

# # Populate the table with headers and data
# headers = list(data.keys())  # Get all columns including 'AccountHeads'
# for i, header in enumerate(headers):
#     cell = table.cell(0, i)
#     cell.text = header

#     # Set font properties for table headers
#     cell.text_frame.paragraphs[0].font.size = Pt(10)
#     cell.text_frame.paragraphs[0].font.bold = True

# # Iterate over AccountHeads and corresponding data
# for row_index, account_head in enumerate(data['AccountHeads']):
#     cell = table.cell(row_index + 1, 0)
#     cell.text = account_head

#     # Populate cells with corresponding data values
#     for col_index, header in enumerate(headers):
#         cell = table.cell(row_index + 1, col_index)
#         cell.text = str(data[header][row_index])

# # Save the presentation to a file
# prs.save('key_stats.pptx')

# print("Presentation created successfully!")

# Updating KPI's on existing ppt First 2

# FOR MOM REP

In [8]:
import pandas as pd
import pptx
import os
import requests
import json
# from Bio import Entrez
import pptx.util 
import sys
# import matplotlib.pyplot as plt
from pptx.util import Inches

In [ ]:
presentation = pptx.Presentation(os.path.join(r"C:\Users\Pc\Desktop\BLUEX WORKINGS\AUTOMATION","8. Sales Review (Company) Mar 2024.pptx"))

In [ ]:
#The function which tells all the text boxes on the slide
def list_text_boxes(presentation,slide_num):
    slide = presentation.slides[slide_num - 1]
    text_boxes = []
    for shape in slide.shapes:
        if shape.has_text_frame and shape.text:
            text_boxes.append(shape.text)
    return text_boxes

In [ ]:
list_text_boxes(presentation,3)

['Key Stats for the Month of March 2024 – \nNormal Shipments ',
 'Active Accounts\n',
 'Normal Shipments\n',
 'Normal Weight\n',
 'Weight Charges',
 'Fuel Surcharge\n',
 'Cash Handling Charges\n',
 'Total Normal Revenue\n',
 'RPS\n',
 'RPW\n',
 'WS\n',
 '2,320',
 '420,030',
 '458,720',
 '77,491,003',
 '10,014,728',
 '2,353,195',
 '89,858,926',
 '213.93',
 '195.89',
 '1.09',
 ' Feb-24 : 2,182',
 'Diff: 138',
 ', 6%',
 'Feb-24  : 256,193',
 'Diff: 63,837',
 ', 18%',
 ' Feb-24  : 39930',
 'Diff: 59,490',
 ', 15%\n',
 ' Feb-24  : 39930WC',
 ' Diff:10,467,894fsc',
 ' Diff:10,467,894  ',
 ' , 16%tnr',
 'wc , 16%wc',
 ' Feb-24 : 2,182 tnr',
 ' Feb-24 : 2,182fsc',
 ' Diff:10,467,894wps',
 ' , 16%fsc',
 ' Feb-24 : 2,182 ch',
 ' Diff:10,467,894ch',
 ' , 16%ch',
 ' Feb-24 : 2,182wps',
 ' Diff:10,467,894tnr   ',
 ' , 16%wps',
 ' Feb-24 : 2,182rps',
 ' Diff:10,467,894rps',
 ' , 16%rps',
 ' Feb-24 : 2,182RPW',
 ' Diff:10,467,894rpw',
 ' , 16%rpw']

In [ ]:
#this code helps us to iterate on all text boxes on the slide and giving id to them
for idx,text in enumerate(list_text_boxes(presentation,3),1):
    print(f"Text Box {idx}: {text}")

Text Box 1: Key Stats for the Month of March 2024 –
Normal Shipments
Text Box 2: Active Accounts

Text Box 3: Normal Shipments

Text Box 4: Normal Weight

Text Box 5: Weight Charges
Text Box 6: Fuel Surcharge

Text Box 7: Cash Handling Charges

Text Box 8: Total Normal Revenue

Text Box 9: RPS

Text Box 10: RPW

Text Box 11: WS

Text Box 12: 2,320
Text Box 13: 420,030
Text Box 14: 458,720
Text Box 15: 77,491,003
Text Box 16: 10,014,728
Text Box 17: 2,353,195
Text Box 18: 89,858,926
Text Box 19: 213.93
Text Box 20: 195.89
Text Box 21: 1.09
Text Box 22:  Feb-24 : 2,182
Text Box 23: Diff: 138
Text Box 24: , 6%
Text Box 25: Feb-24  : 256,193
Text Box 26: Diff: 63,837
Text Box 27: , 18%
Text Box 28:  Feb-24  : 39930
Text Box 29: Diff: 59,490
Text Box 30: , 15%

Text Box 31:  Feb-24  : 39930WC
Text Box 32:  Diff:10,467,894fsc
Text Box 33:  Diff:10,467,894
Text Box 34:  , 16%tnr
Text Box 35: wc , 16%wc
Text Box 36:  Feb-24 : 2,182 tnr
Text Box 37:  Feb-24 : 2,182fsc
Text Box 38:  Diff:10,467,894wps
Text Box 39:  , 16%fsc
Text Box 40:  Feb-24 : 2,182 ch
Text Box 41:  Diff:10,467,894ch
Text Box 42:  , 16%ch
Text Box 43:  Feb-24 : 2,182wps
Text Box 44:  Diff:10,467,894tnr
Text Box 45:  , 16%wps
Text Box 46:  Feb-24 : 2,182rps
Text Box 47:  Diff:10,467,894rps
Text Box 48:  , 16%rps
Text Box 49:  Feb-24 : 2,182RPW
Text Box 50:  Diff:10,467,894rpw
Text Box 51:  , 16%rpw

In [ ]:
def update_text_of_textbox(presentation, slide, text_box_id, new_text):
    slide = presentation.slides[(slide - 1)]
    count = 0
    for shape in slide.shapes:
        if shape.has_text_frame and shape.text:
            count += 1
            if count == text_box_id:
                text_frame = shape.text_frame
                first_paragraph = text_frame.paragraphs[0]
                first_run = first_paragraph.runs[0] if first_paragraph.runs else first_paragraph.add_run()
                # Preserve formatting of the first run
                font = first_run.font
                font_name = font.name
                font_size = font.size
                font_bold = font.bold
                font_italic = font.italic
                font_underline = font.underline
                font_color = font.color.rgb
                # Clear existing text and apply new text with preserved formatting
                text_frame.clear()  # Clears all text and formatting
                new_run = text_frame.paragraphs[0].add_run()  # New run in first paragraph
                new_run.text = new_text
                # Reapply formatting
                new_run.font.name = font_name
                new_run.font.size = font_size
                new_run.font.bold = font_bold
                new_run.font.italic = font_italic
                new_run.font.underline = font_underline
                new_run.font.color.rgb = font_color
                return

# passing Values in updating Func


# uniprot_id =str(val)
# update_text_of_textbox(presentation, 3, 13, uniprot_id)

In [ ]:
ActiveAccounts = Summarize_Mom_Rep["Nov-23"].iloc[0]
ActiveAccounts = f"{ActiveAccounts:,.2f}"

In [ ]:
NormalShipment = Summarize_Mom_Rep["Nov-23"].iloc[1]
NormalShipment = f"{NormalShipment:,.2f}"

In [ ]:
NormalWeight = Summarize_Mom_Rep["Nov-23"].iloc[2]
NormalWeight = f"{NormalWeight:,.2f}"

In [ ]:
Weight_Charges = Summarize_Mom_Rep["Nov-23"].iloc[3]
Weight_Charges = f"{Weight_Charges:,.2f}"

In [ ]:
fuel_Surcharge = Summarize_Mom_Rep["Nov-23"].iloc[4]
fuel_Surcharge = f"{fuel_Surcharge:,.2f}"

In [ ]:
Cash_handling = Summarize_Mom_Rep["Nov-23"].iloc[5]
Cash_handling = f"{Cash_handling:,.2f}"

In [ ]:
Total_normal_rev = Summarize_Mom_Rep["Nov-23"].iloc[6]
Total_normal_rev = f"{Total_normal_rev:,.2f}"

In [ ]:
RPS = Summarize_Mom_Rep["Nov-23"].iloc[7]

In [ ]:
RPW = Summarize_Mom_Rep["Nov-23"].iloc[8]

In [ ]:
WPS = Summarize_Mom_Rep["Nov-23"].iloc[9]

In [ ]:
last_month_ActiveCust = "Oct-23" + ":" + " "+ Summarize_Mom_Rep["Oct-23"][0].astype(str)

In [ ]:
last_month_NormalShipment = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][2].astype(str)

In [ ]:
last_month_NormalWeight =  "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][3].astype(str)

In [ ]:
last_month_WeightCharges = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][8].astype(str)

In [ ]:
last_month_fsc = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][9].astype(str)

In [ ]:
last_month_Cash = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][1].astype(str)

In [ ]:
last_month_Totalnormal_rev = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][6].astype(str)

In [ ]:
last_month_RPS = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][4].astype(str)

In [ ]:
last_month_RPW = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][5].astype(str)

In [ ]:
last_month_WPS = "Oct-23" + ":" + " " + Summarize_Mom_Rep["Oct-23"][7].astype(str)

In [ ]:
last_month_RPS

'Oct-23: 207.49'

In [ ]:
def format_negative_value(value):
    if isinstance(value, (int, float)):
        if value < 0:
            # Surround negative value with parentheses and remove the minus sign
            return f"({-value})"
        else:
            # Return positive value unchanged
            return value
    else:
        # Return non-numeric values unchanged
        return value

In [ ]:
Diff_acc = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][0])

In [ ]:
Diff_acc = format_negative_value(Diff_acc)

In [ ]:
Diff_acc = "Diff"+ " :" + " " + Diff_acc

In [ ]:
Diff_NormalShipment = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][2])

In [ ]:
Diff_NormalShipment = format_negative_value(Diff_NormalShipment)

In [ ]:
Diff_NormalShipment = "Diff"+ " :" + " " + str(Diff_NormalShipment)

In [ ]:
Diff_NormalWeight = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][3])

In [ ]:
Diff_NormalWeight = format_negative_value(Diff_NormalWeight)

In [ ]:
Diff_NormalWeight = "Diff"+ " :" + " " + str(Diff_NormalWeight)

In [ ]:
Diff_WeightCharges  = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][8])

In [ ]:
Diff_WeightCharges = format_negative_value(Diff_WeightCharges)

In [ ]:
Diff_WeightCharges = "Diff"+ " :" + " " + str(Diff_WeightCharges)

In [ ]:
Diff_FSC = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][9])

In [ ]:
Diff_FSC = format_negative_value(Diff_FSC)

In [ ]:
Diff_FSC = "Diff"+ " :" + " " + str(Diff_FSC)

In [ ]:
Diff_CashHandling = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][1])

In [ ]:
Diff_CashHandling = format_negative_value(Diff_CashHandling)

In [ ]:
Diff_CashHandling = "Diff"+ " :" + " " + str(Diff_CashHandling)

In [ ]:
Diff_TotalRev = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][6])

In [ ]:
Diff_TotalRev = format_negative_value(Diff_TotalRev)

In [ ]:
Diff_TotalRev = "Diff"+ " :" + " " + str(Diff_TotalRev)

In [ ]:
Diff_RPS = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][4],2)

In [ ]:
Diff_RPS = format_negative_value(Diff_RPS)

In [ ]:
Diff_RPS = "Diff"+ " :" + " " + str(Diff_RPS)

In [ ]:
Diff_RPS

'Diff : 1.95'

In [ ]:
Diff_RPW = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][5],2)

In [ ]:
Diff_RPW = format_negative_value(Diff_RPW)

In [ ]:
Diff_RPW = "Diff"+ " :" + " " + Diff_RPW

In [ ]:
Diff_RPW

'Diff : (0.71)'

In [ ]:
Diff_WPS = round(Summarize_Mom_Rep["Nov-23 (Inc/Dec)"][7],2)

In [ ]:
Diff_WPS = format_negative_value(Diff_WPS)

In [ ]:
Diff_WPS = "Diff"+ " :" + " " + Diff_WPS.astype(str)

In [ ]:
per_chng_Acc = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][0],5)

In [ ]:
per_chng_Acc = format_negative_value(per_chng_Acc)

In [ ]:
per_chng_Acc = ","+ " " + per_chng_Acc+"%"

In [ ]:
per_chng_NormalShip =  round(Summarize_Mom_Rep["Nov-23 (%_chng)"][2],5)

In [ ]:
per_chng_NormalShip = format_negative_value(per_chng_NormalShip)

In [ ]:
per_chng_NormalShip = ","+ " " + per_chng_NormalShip.astype(str)+"%"

In [ ]:
per_chng_NormalWeight =  round(Summarize_Mom_Rep["Nov-23 (%_chng)"][3],5)

In [ ]:
per_chng_NormalWeight = format_negative_value(per_chng_NormalWeight)

In [ ]:
per_chng_NormalWeight = ","+ " " + per_chng_NormalWeight.astype(str)+"%"

In [ ]:
per_chng_WeightCharges = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][8],5)

In [ ]:
per_chng_WeightCharges = format_negative_value(per_chng_WeightCharges)

In [ ]:
per_chng_WeightCharges = ","+ " " + per_chng_WeightCharges.astype(str)+"%"

In [ ]:
per_chng_FSC = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][9],5)

In [ ]:
per_chng_FSC = format_negative_value(per_chng_FSC)

In [ ]:
per_chng_FSC = ","+ " " + per_chng_FSC.astype(str)+"%"

In [ ]:
per_chng_Cash = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][1],5)

In [ ]:
per_chng_Cash = format_negative_value(per_chng_Cash)

In [ ]:
per_chng_Cash = ","+ " " + per_chng_Cash.astype(str)+"%"

In [ ]:
per_chng_TotalRev = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][6],5)

In [ ]:
per_chng_TotalRev = format_negative_value(per_chng_TotalRev)

In [ ]:
per_chng_TotalRev = ","+ " " + per_chng_TotalRev.astype(str)+"%"

In [ ]:
per_chng_RPS = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][4],5)

In [ ]:
per_chng_RPS = format_negative_value(per_chng_RPS)

In [ ]:
per_chng_RPS = ","+ " " + per_chng_RPS.astype(str)+"%"

In [ ]:
per_chng_RPW = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][5],5)

In [ ]:
per_chng_RPW = format_negative_value(per_chng_RPW)

In [ ]:
per_chng_RPW = ","+ " " + per_chng_RPW+"%"

In [ ]:
per_chng_WPS = round(Summarize_Mom_Rep["Nov-23 (%_chng)"][7],5)

In [ ]:
per_chng_WPS = format_negative_value(per_chng_WPS)

In [ ]:
per_chng_WPS = ","+ " " + per_chng_WPS.astype(str)+"%"

In [ ]:
# updating_heads = [ActiveAccounts,NormalShipment,NormalWeight,Weight_Charges,fuel_Surcharge,Cash_handling,Total_normal_rev,RPS,RPW,WPS,last_month_ActiveCust,Diff_acc,per_chng_Acc,
#                   last_month_NormalShipment,Diff_NormalShipment,per_chng_NormalShip,
#                   last_month_NormalWeight,Diff_NormalWeight,per_chng_NormalWeight,
#                   last_month_WeightCharges,Diff_WeightCharges,Diff_FSC,per_chng_WeightCharges,per_chng_FSC,
#                   last_month_fsc,
#                   last_month_Cash,last_month_Totalnormal_rev,Diff_CashHandling,per_chng_Cash,
#                   Diff_TotalRev,per_chng_TotalRev,
#                   last_month_RPS,Diff_RPS,per_chng_RPS,
#                   last_month_RPW,Diff_RPW,per_chng_RPW,
#                   last_month_WPS,Diff_WPS,per_chng_WPS]

In [ ]:
updating_heads = [ActiveAccounts,NormalShipment,NormalWeight,Weight_Charges,fuel_Surcharge,Cash_handling,Total_normal_rev,RPS,RPW,WPS,last_month_ActiveCust,Diff_acc,per_chng_Acc,
                  last_month_NormalShipment,Diff_NormalShipment,per_chng_NormalShip,
                  last_month_NormalWeight,Diff_NormalWeight,per_chng_NormalWeight,
                  last_month_WeightCharges,Diff_FSC,Diff_WeightCharges,per_chng_TotalRev,per_chng_WeightCharges,
                  last_month_Totalnormal_rev,last_month_fsc,Diff_WPS,per_chng_FSC,last_month_Cash,Diff_CashHandling,per_chng_Cash,
                 last_month_WPS,Diff_TotalRev,per_chng_WPS,last_month_RPS,Diff_RPS,per_chng_RPS,last_month_RPW,Diff_RPW,per_chng_WPS]

In [ ]:
Summarize_Mom_Rep

month,AccountHeads,Jun-23,Jul-23,Aug-23,Sep-23,Oct-23,Nov-23,Jul-23 (Inc/Dec),Aug-23 (Inc/Dec),Sep-23 (Inc/Dec),Oct-23 (Inc/Dec),Nov-23 (Inc/Dec),Jul-23 (%_chng),Aug-23 (%_chng),Sep-23 (%_chng),Oct-23 (%_chng),Nov-23 (%_chng)
0,Active_Accounts,2012.00,1860.00,2097.00,2142.00,2108.00,2099.00,-152.00,237.00,45.00,-34.00,-9.00,-0.075547,0.127419,0.021459,-0.015873,-0.004269
2,Normal_Shipments,292127.00,297911.00,373097.00,351551.00,345749.00,375299.00,5784.00,75186.00,-21546.00,-5802.00,29550.00,0.019800,0.252377,-0.057749,-0.016504,0.085467
3,Normal_Weight,314794.25,311389.73,389458.31,378162.21,383728.43,422056.13,-3404.52,78068.58,-11296.10,5566.22,38327.70,-0.010815,0.250710,-0.029005,0.014719,0.099882
8,Weight_Charges,50445727.24,50977537.44,63649440.85,60704189.21,60562011.68,67056960.47,531810.20,12671903.41,-2945251.64,-142177.53,6494948.79,0.010542,0.248578,-0.046273,-0.002342,0.107245
9,fuel_Surcharge,4160564.20,4256268.88,5286748.04,8059524.79,9035914.20,9122673.09,95704.68,1030479.16,2772776.75,976389.41,86758.89,0.023003,0.242109,0.524477,0.121147,0.009602
1,Cash_handling,2024171.74,2199401.21,2746505.28,2394469.03,2140751.97,2423027.73,175229.47,547104.07,-352036.25,-253717.06,282275.76,0.086568,0.248751,-0.128176,-0.105960,0.131858
6,Total_normal_rev,56630463.18,57433207.45,71682694.06,71158182.98,71738677.81,78602661.22,802744.27,14249486.61,-524511.08,580494.83,6863983.41,0.014175,0.248105,-0.007317,0.008158,0.095680
4,RPS,193.86,192.79,192.13,202.41,207.49,209.44,-1.07,-0.66,10.28,5.08,1.95,-0.005519,-0.003423,0.053505,0.025098,0.009398
5,RPW,179.90,184.44,184.06,188.17,186.95,186.24,4.54,-0.38,4.11,-1.22,-0.71,0.025236,-0.002060,0.022330,-0.006483,-0.003798
7,WPS,1.08,1.05,1.04,1.08,1.11,1.12,-0.03,-0.01,0.04,0.03,0.01,-0.027778,-0.009524,0.038462,0.027778,0.009009

In [ ]:
len(updating_heads)

40

In [ ]:
for i in range(12, 52):
    if i - 12 < len(updating_heads):  # Ensure we don't access out-of-range index
        uniprot_id = str((updating_heads[i - 12]))  # Get corresponding uniprot_id
        update_text_of_textbox(presentation, 3, i, uniprot_id)
    else:
        # Handle the case where updating_heads doesn't have enough elements
        # You might want to log this as an error or handle it appropriately
        print(f"Not enough elements in updating_heads to update row {i}")

## FOR RET REP

In [ ]:
cols = ['Jun-23', 'Jul-23', 'Aug-23', 'Sep-23', 'Oct-23',
       'Nov-23']

In [ ]:
for i in cols:
    # Convert the value to string and append "%"
    Summarize_Ret_df.loc[4, i] = str(Summarize_Ret_df.loc[4, i]) + "%"

In [ ]:
for i in cols:
    # Convert the value to string and append "%"
    Summarize_Ret_df.loc[5, i] = str(Summarize_Ret_df.loc[5, i]) + "%"

In [ ]:
#The function which tells all the text boxes on the slide
def list_text_boxes(presentation,slide_num):
    slide = presentation.slides[slide_num - 1]
    text_boxes = []
    for shape in slide.shapes:
        if shape.has_text_frame and shape.text:
            text_boxes.append(shape.text)
    return text_boxes

In [ ]:
list_text_boxes(presentation,4)

['Key Stats for the Month of March 2024 – \nReturn Shipments ',
 'Active Customers\n',
 'Return Shipments\n',
 'Return Weight\n',
 'Return \nWeight Ratio\n',
 'Return Revenue\n',
 'RPS\n',
 'RPW\n',
 'Shipments \nReturn Ratio\n',
 '1,498',
 '66,474',
 '58,007',
 '12.65%',
 '810,206',
 '12.19',
 '13.97',
 '15.83%',
 'Feb-24 : 1,399 RPW \n',
 'Diff: 99 RPW',
 ', 7% RR ',
 'Feb-24 : 1,399 acc\n ',
 'Diff: 99 acc',
 ', 7% acc ',
 'Feb-24 : 1,399 RS \n',
 'Diff: 99 RS',
 ', 7% RS ',
 ', 7% SR ',
 'Diff: 99 SR',
 'Feb-24 : 1,399 SR\n',
 'Feb-24 : 1,399  RW \n ',
 'Diff: 99 RW',
 ', 7% RW ',
 'Feb-24 : 1,399  WR\n',
 'Diff: 99 WR',
 ', 7%  WR',
 ', 7% RPW ',
 'Diff: 99 RR',
 'Feb-24 : 1,399 RR \n',
 ', 7% RPS ',
 'Diff: 99 RPS',
 'Feb-24 : 1,399 RPS \n']

In [ ]:
#this code helps us to iterate on all text boxes on the slide and giving id to them
for idx,text in enumerate(list_text_boxes(presentation,4),1):
    print(f"Text Box {idx}: {text}")

Text Box 1: Key Stats for the Month of March 2024 –
Return Shipments
Text Box 2: Active Customers

Text Box 3: Return Shipments

Text Box 4: Return Weight

Text Box 5: Return
Weight Ratio

Text Box 6: Return Revenue

Text Box 7: RPS

Text Box 8: RPW

Text Box 9: Shipments
Return Ratio

Text Box 10: 1,498
Text Box 11: 66,474
Text Box 12: 58,007
Text Box 13: 12.65%
Text Box 14: 810,206
Text Box 15: 12.19
Text Box 16: 13.97
Text Box 17: 15.83%
Text Box 18: Feb-24 : 1,399 RPW

Text Box 19: Diff: 99 RPW
Text Box 20: , 7% RR
Text Box 21: Feb-24 : 1,399 acc

Text Box 22: Diff: 99 acc
Text Box 23: , 7% acc
Text Box 24: Feb-24 : 1,399 RS

Text Box 25: Diff: 99 RS
Text Box 26: , 7% RS
Text Box 27: , 7% SR
Text Box 28: Diff: 99 SR
Text Box 29: Feb-24 : 1,399 SR

Text Box 30: Feb-24 : 1,399  RW

Text Box 31: Diff: 99 RW
Text Box 32: , 7% RW
Text Box 33: Feb-24 : 1,399  WR

Text Box 34: Diff: 99 WR
Text Box 35: , 7%  WR
Text Box 36: , 7% RPW
Text Box 37: Diff: 99 RR
Text Box 38: Feb-24 : 1,399 RR

Text Box 39: , 7% RPS
Text Box 40: Diff: 99 RPS
Text Box 41: Feb-24 : 1,399 RPS

In [ ]:
ActiveAccounts = Summarize_Ret_df["Nov-23"].iloc[0]
ActiveAccounts = f"{ActiveAccounts:,.2f}"
ActiveAccounts

'1,388.00'

In [ ]:
Return_Shipment = Summarize_Ret_df["Nov-23"].iloc[1]
Return_Shipment = f"{Return_Shipment:,.2f}"
Return_Shipment

'62,430.00'

In [ ]:
Shipment_Ret_ration = Summarize_Ret_df["Nov-23"].iloc[2]
Shipment_Ret_ration

'16.63%'

In [ ]:
Return_Weight = Summarize_Ret_df["Nov-23"].iloc[3]
Return_Weight = f"{Return_Weight:,.2f}"

In [ ]:
Return_Weight

'58,931.62'

In [ ]:
Weight_ret_ratio = Summarize_Ret_df["Nov-23"].iloc[4]
Weight_ret_ratio

'13.96%'

In [ ]:
return_revenue = Summarize_Ret_df["Nov-23"].iloc[5]
return_revenue = f"{return_revenue:,.2f}"
return_revenue

'696,400.00'

In [ ]:
RPS = Summarize_Ret_df["Nov-23"].iloc[6]
RPS

11.15

In [ ]:
RPW = Summarize_Ret_df["Nov-23"].iloc[7]
RPW

11.82

In [ ]:
last_month_Acc = "Oct-23" + ":" + " "+ str(Summarize_Ret_df["Oct-23"][6])

In [ ]:
last_month_RS =  "Oct-23" + ":" + " "+ str(Summarize_Ret_df["Oct-23"][2])

In [ ]:
last_month_SR = "Oct-23" + ":" + " "+ (Summarize_Ret_df["Oct-23"][4])

In [ ]:
last_month_RW = "Oct-23" + ":" + " "+ str(Summarize_Ret_df["Oct-23"][3])

In [ ]:
last_month_WR = "Oct-23" + ":" + " "+  str(Summarize_Ret_df["Oct-23"][5])

In [ ]:
last_month_RR = "Oct-23" + ":" + " "+ str(Summarize_Ret_df["Oct-23"][7])

In [ ]:
last_month_RPS = "Oct-23" + ":" + " "+ str(Summarize_Ret_df["Oct-23"][0])

In [ ]:
last_month_RPW = "Oct-23" + ":" + " "+  str(Summarize_Ret_df["Oct-23"][1])

In [ ]:
def format_negative_value(value):
    if isinstance(value, (int, float)):
        if value < 0:
            # Surround negative value with parentheses and remove the minus sign
            return f"({-value})"
        else:
            # Return positive value unchanged
            return value
    else:
        # Return non-numeric values unchanged
        return value

In [ ]:
Diff_acc = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][6],2)
Diff_acc = format_negative_value(Diff_acc)
Diff_acc = "Diff"+ " :" + " " + str(Diff_acc)

In [ ]:
Diff_RS = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][2],2)
Diff_RS = format_negative_value(Diff_RS)
Diff_RS = "Diff"+ " :" + " " + str(Diff_RS)

In [ ]:
Diff_SR = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][4],2)
Diff_SR = format_negative_value(Diff_SR)
Diff_SR = "Diff"+ " :" + " " + str(Diff_SR)

In [ ]:
Diff_RW = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][3],2)
Diff_RW = format_negative_value(Diff_RW)
Diff_RW = "Diff"+ " :" + " " + str(Diff_RW)

In [ ]:
Diff_WR = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][5],2)
Diff_WR = format_negative_value(Diff_WR)
Diff_WR = "Diff"+ " :" + " " + str(Diff_WR)

In [ ]:
Diff_RR = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][7],2)
Diff_RR = format_negative_value(Diff_RR)
Diff_RR = "Diff"+ " :" + " " + str(Diff_RR)

In [ ]:
Diff_RPS = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][0],2)
Diff_RPS = format_negative_value(Diff_RPS)
Diff_RPS = "Diff"+ " :" + " " + str(Diff_RPS)

In [ ]:
Diff_RPW = round(Summarize_Ret_df["Nov-23 (Inc/Dec)"][1],2)
Diff_RPW = format_negative_value(Diff_RPW)
Diff_RPW = "Diff"+ " :" + " " + str(Diff_RPW)

In [ ]:
per_chng_Acc = round(Summarize_Ret_df["Nov-23 (%_chng)"][6],3)
per_chng_Acc = format_negative_value(per_chng_Acc)
per_chng_Acc =  ","+ " " + per_chng_Acc.astype(str)+"%"

In [ ]:
per_chng_RS = round(Summarize_Ret_df["Nov-23 (%_chng)"][2],3)
per_chng_RS = format_negative_value(per_chng_RS)
per_chng_RS =","+ " " + per_chng_RS.astype(str)+"%"

In [ ]:
per_chng_SR = round(Summarize_Ret_df["Nov-23 (%_chng)"][4],3)
per_chng_SR = format_negative_value(per_chng_SR)
per_chng_SR = ","+ " " + per_chng_SR.astype(str)+"%"

In [ ]:
per_chng_RW = round(Summarize_Ret_df["Nov-23 (%_chng)"][3],3)
per_chng_RW = format_negative_value(per_chng_RW)
per_chng_RW = ","+ " " + per_chng_RW.astype(str)+"%"

In [ ]:
per_chng_WR = round(Summarize_Ret_df["Nov-23 (%_chng)"][5],3)
per_chng_WR = format_negative_value(per_chng_WR)
per_chng_WR =","+ " " + per_chng_WR.astype(str)+"%"

In [ ]:
per_chng_RR = round(Summarize_Ret_df["Nov-23 (%_chng)"][7],3)
per_chng_RR = format_negative_value(per_chng_RR)
per_chng_RR = ","+ " " + per_chng_RR.astype(str)+"%"

In [ ]:
per_chng_RPS = round(Summarize_Ret_df["Nov-23 (%_chng)"][0],3)
per_chng_RPS = format_negative_value(per_chng_RPS)
per_chng_RPS = ","+ " " + per_chng_RPS+"%"

In [ ]:
per_chng_RPW = round(Summarize_Ret_df["Nov-23 (%_chng)"][1],3)
per_chng_RPW = format_negative_value(per_chng_RPW)
per_chng_RPW = ","+ " " + per_chng_RPW+"%"

In [ ]:
updating_heads = [ActiveAccounts,Return_Shipment,Return_Weight,
                  Weight_ret_ratio,return_revenue,RPS,
                  RPW,Shipment_Ret_ration,last_month_RPW,
                  Diff_RPW,
                  per_chng_RR,last_month_Acc,Diff_acc,
                  per_chng_Acc,last_month_RS,Diff_RS,
                  per_chng_RS,per_chng_SR,Diff_SR,
                  last_month_SR,last_month_RW,Diff_RW,
                  per_chng_RW,last_month_WR,Diff_WR,
                  per_chng_WR,per_chng_RPW,Diff_RR,
                  last_month_RR,per_chng_RPS,Diff_RPS,last_month_RPS]

In [ ]:
for i in range(10, 42):
    if i - 10 < len(updating_heads):  # Ensure we don't access out-of-range index
        uniprot_id = str((updating_heads[i - 10]))  # Get corresponding uniprot_id
        update_text_of_textbox(presentation, 4, i, uniprot_id)
    else:
        # Handle the case where updating_heads doesn't have enough elements
        # You might want to log this as an error or handle it appropriately
        print(f"Not enough elements in updating_heads to update row {i}")

In [ ]:

# # Iterate over the list of variables
# for var in updating_heads:
#     # Get the name of the variable using locals() dictionary
#     var_name = [name for name, value in locals().items() if value is var][0]

#     # Get the value of the variable
#     var_value = var

#     # Print the variable name and its value
#     print(f"{var_name}: {var_value}")

# PPT 3

#### Downloading SP list

In [9]:
sales = pd.DataFrame()
sales.to_excel("SP_LIST.xlsx")

In [10]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)

In [11]:
excel_file_path =r"C:\Users\Pc\Desktop\BLUEX WORKINGS\AUTOMATION\SP_LIST.xlsx"

try:
    # Create ExcelWriter object to write to Excel file
    with pd.ExcelWriter(excel_file_path, engine='openpyxl', mode='a') as writer:
        with conn.cursor() as cursor:
            # Check database connection
            cursor.execute("SELECT DATABASE();")
            record = cursor.fetchone()
            print("Connected to Database:", record)

            # Define SQL query to fetch records within the date range
            q1 = "SELECT DISTINCT sp_name FROM blueex.salesreport"
            
            # Execute SQL query
            cursor.execute(q1)

            # Fetch all rows
            rows = cursor.fetchall()

            # Create DataFrame from fetched rows
            df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

          

            # Write filtered DataFrame to a new sheet in the Excel file
            sheet_name = "SP_LIST DATA"
            df.to_excel(writer, sheet_name=sheet_name, index=False)

            print(f"SP_LIST Records fetched and written to Excel sheet: '{sheet_name}'")
            print("SP_LIST Records fetched and written to CSV:", len(df))


except Error as e:
    print("Error occurred while connecting to MySQL:", e)
    conn.rollback()  # Rollback any changes in case of error
    sys.exit()

Connected to Database: ('blueex',)
SP_LIST Records fetched and written to Excel sheet: 'SP_LIST DATA'
SP_LIST Records fetched and written to CSV: 65

In [12]:
df_sp1 = df.copy()

In [13]:
df_sp1["sp_name"] = df_sp1["sp_name"].str.strip().str.upper()

#### Downloading Sales Report

In [14]:
excel_file_path =r"C:\Users\Pc\Desktop\BLUEX WORKINGS\AUTOMATION\SP_LIST.xlsx"

##### Fetching sales Rep Data

In [15]:
start_date = '2024-01-01'  # Change this to the desired start date
end_date = '2024-03-31'    # Change this to the desired end date

start_datetime = datetime.strptime(start_date, '%Y-%m-%d')
end_datetime = datetime.strptime(end_date, '%Y-%m-%d')

start_date_str = start_datetime.strftime('%Y-%m-%d')
end_date_str = end_datetime.strftime('%Y-%m-%d')
with conn.cursor() as cursor:
            # Check database connection
            cursor.execute("SELECT DATABASE();")
            record = cursor.fetchone()
            print("Connected to Database:", record)

            # Define SQL query to fetch records within the date range
            q1 = "SELECT * from blueex.salesreport sr WHERE sr.normal_cn_date  BETWEEN %s AND %s "
            
            # Execute SQL query
            cursor.execute(q1, (start_date, end_date))

            # Fetch all rows
            rows = cursor.fetchall()

            # Create DataFrame from fetched rows
            df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

Connected to Database: ('blueex',)

In [16]:
df_sp12 = df.copy()

#### Active Account

In [17]:
df_sp12 = df_sp12[["acc_no","normal_cn_date","sp_name"]]

In [18]:
df_sp12["normal_cn_date"] = pd.to_datetime(df_sp12["normal_cn_date"])

In [19]:
df_sp12["month"] = df_sp12['normal_cn_date'].dt.strftime('%b-%Y')

In [20]:
df_sp12

            acc_no normal_cn_date            sp_name     month
0        KHI-04152     2024-01-03  Syed Atif Hussain  Jan-2024
1        KHI-04152     2024-01-11  Syed Atif Hussain  Jan-2024
2        KHI-04152     2024-01-18  Syed Atif Hussain  Jan-2024
3        KHI-04152     2024-01-24  Syed Atif Hussain  Jan-2024
4        KHI-04152     2024-02-01  Syed Atif Hussain  Feb-2024
...            ...            ...                ...       ...
1192855  KHI-04883     2024-03-31  Syed Atif Hussain  Mar-2024
1192856  KHI-06512     2024-03-31        Sadia Niazi  Mar-2024
1192857  KHI-09247     2024-03-31        Salman Asif  Mar-2024
1192858  KHI-04912     2024-03-31   Zeeshan Merchant  Mar-2024
1192859  KHI-04912     2024-03-31   Zeeshan Merchant  Mar-2024

[1192860 rows x 4 columns]

In [21]:
def count_unique(series):
    return len(pd.Series.unique(series))

# Pivot the DataFrame to count unique 'acc_no' values for each 'month'
pivot_df = pd.pivot_table(df_sp12, values='acc_no', columns='month', aggfunc=count_unique)

In [22]:
Active_acc = pivot_df.reset_index()

In [23]:
Active_acc = Active_acc[["index","Feb-2024","Mar-2024"]]

#### Account Active this month but no in previous month

In [24]:
Feb_accounts = df_sp12[df_sp12['month'] == 'Feb-2024']['acc_no']
Mar_accounts = df_sp12[df_sp12['month'] == 'Mar-2024']['acc_no']
Jan_accounts = df_sp12[df_sp12['month'] == 'Jan-2024']['acc_no']

In [25]:
accounts_in_March_not_in_feb = Mar_accounts[~Mar_accounts.isin(Feb_accounts)]
Active_this_Month_not_in_Previous_Months_Mar = accounts_in_March_not_in_feb.nunique()

In [26]:
accounts_in_Feb_not_in_jan = Feb_accounts[~Feb_accounts.isin(Jan_accounts)]
Active_this_Month_not_in_Previous_Months_Feb = accounts_in_Feb_not_in_jan.nunique()

In [27]:
Active_Inc_Dec = Active_this_Month_not_in_Previous_Months_Mar - Active_this_Month_not_in_Previous_Months_Feb

#### FETCHING ACC FORM

In [28]:
start_date = '2024-01-01'  # Change this to the desired start date
end_date = '2024-03-31'    # Change this to the desired end date

start_datetime = datetime.strptime(start_date, '%Y-%m-%d')
end_datetime = datetime.strptime(end_date, '%Y-%m-%d')

start_date_str = start_datetime.strftime('%Y-%m-%d')
end_date_str = end_datetime.strftime('%Y-%m-%d')
with conn.cursor() as cursor:
            # Check database connection
            cursor.execute("SELECT DATABASE();")
            record = cursor.fetchone()
            print("Connected to Database:", record)

            # Define SQL query to fetch records within the date range
            q1 = "SELECT * from blueex.salesreport sr LEFT JOIN acc_form af ON sr.acc_no = af.acc_no   WHERE sr.normal_cn_date  BETWEEN %s AND %s "
            
            # Execute SQL query
            cursor.execute(q1, (start_date, end_date))

            # Fetch all rows
            rows = cursor.fetchall()

            # Create DataFrame from fetched rows
            df = pd.DataFrame(rows, columns=[i[0] for i in cursor.description])

Connected to Database: ('blueex',)

In [55]:
df_sp13 = df.copy()

#### NewActive

In [56]:
df_sp13["normal_cn_date"] = pd.to_datetime(df_sp13["normal_cn_date"])
df_sp13["month"] = df_sp13['normal_cn_date'].dt.strftime('%b-%Y')

In [57]:
duplicate_columns = df_sp13.columns[df_sp13.columns.duplicated()]

In [58]:
df_sp13 = df_sp13.loc[:, ~df_sp13.columns.duplicated()]

In [59]:
df_sp13['first_cn'] = pd.to_datetime(df_sp13['first_cn'])

shipments_2024 = df_sp13[df_sp13['first_cn'].dt.year == 2024]

# Extract month and year of first shipments
shipments_2024['first_shipment_month'] = shipments_2024['first_cn'].dt.strftime('%b-%Y')

# Group by month and count unique account numbers
monthly_New_Acc = shipments_2024.groupby('first_shipment_month')['acc_no'].nunique().reset_index()

C:\Users\Pc\AppData\Local\Temp\ipykernel_14076\2006034516.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shipments_2024['first_shipment_month'] = shipments_2024['first_cn'].dt.strftime('%b-%Y')

In [60]:
monthly_New_Acc = monthly_New_Acc.pivot_table(columns='first_shipment_month', values='acc_no', aggfunc='sum')
monthly_New_Acc

first_shipment_month  Feb-2024  Jan-2024  Mar-2024
acc_no                     267       245       272

In [61]:
New_acc_Inc_Dec = monthly_New_Acc["Mar-2024"] - monthly_New_Acc["Feb-2024"]

#### REVIVED

In [62]:
Revived_Feb = Active_this_Month_not_in_Previous_Months_Feb - monthly_New_Acc["Feb-2024"]

In [63]:
Revived_Mar = Active_this_Month_not_in_Previous_Months_Mar - monthly_New_Acc["Mar-2024"]

In [64]:
Revived_Inc_Dec = Revived_Mar - Revived_Feb
Revived_Inc_Dec = Revived_Inc_Dec[0]

#### RETAINED

In [65]:
Retained_Feb  = Active_acc["Feb-2024"] - Active_this_Month_not_in_Previous_Months_Feb

In [66]:
Retained_Mar  = Active_acc["Mar-2024"] - Active_this_Month_not_in_Previous_Months_Mar

In [67]:
Retained_Inc_Dec = Retained_Mar - Retained_Feb
Retained_Inc_Dec

0    97
dtype: int64

#### Active in Previous Month but not this month

In [68]:
Jan_uni_Acc = df_sp13[df_sp13["month"] == "Jan-2024"]["acc_no"].unique()

In [69]:
Feb_uni_Acc = df_sp13[df_sp13["month"] == "Feb-2024"]["acc_no"].unique()

In [70]:
Mar_uni_Acc = df_sp13[df_sp13["month"] == "Mar-2024"]["acc_no"].unique()

In [71]:
Feb_not_in_Mar = np.setdiff1d(Feb_uni_Acc, Mar_uni_Acc)
Acc_Feb_not_in_Mar = len(Feb_not_in_Mar)

In [72]:
Jan_not_in_Feb = np.setdiff1d(Jan_uni_Acc, Feb_uni_Acc)
Acc_Jan_not_in_Feb = len(Jan_not_in_Feb)

#### CRF Created this Month

In [129]:
def format_negative_value(value):
    if isinstance(value, (int, float)):
        if value < 0:
            # Surround negative value with parentheses and remove the minus sign
            return f"({-value})"
        else:
            # Return positive value unchanged
            return value
    else:
        # Return non-numeric values unchanged
        return value

In [130]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)
month_ranges = [
    ('2024-01-01', '2024-01-31'),
    ('2024-02-01', '2024-02-29'),
    ('2024-03-01', '2024-03-31'),
    # Add more month ranges as needed
]

results = []
try:
    with conn.cursor() as cursor:
        # Loop through each month range
        for start_date, end_date in month_ranges:
            # Define SQL query to count distinct acc_no within the date range
            sql_query = """
                SELECT COUNT(DISTINCT acc_no) AS distinct_count
                FROM blueex.acc_form
                WHERE creation_date BETWEEN %s AND %s
            """
            
            # Execute the SQL query with date range parameters
            cursor.execute(sql_query, (start_date, end_date))
            
            # Fetch the result (distinct count of acc_no)
            distinct_count = cursor.fetchone()[0]  # Get the first column of the first row
            
            # Format the month as 'Month-YYYY' (e.g., 'Jan-2024')
            month_year = datetime.strptime(start_date, '%Y-%m-%d').strftime('%b-%Y')
            
            # Append result to the list as a dictionary
            results.append({'Month': month_year, 'Distinct_count': distinct_count})

except mysql.connector.Error as e:
    print("Error occurred while connecting to MySQL:", e)
    conn.rollback()  # Rollback any changes in case of error
    sys.exit()

# Create a pandas DataFrame from the results list
Crf_Created_This_month = pd.DataFrame(results)

In [131]:
Crf_Created_This_month

      Month  Distinct_count
0  Jan-2024             446
1  Feb-2024             399
2  Mar-2024             393

In [132]:

# Example usage:
# Calculate the difference between two values and format the result
result_value = Crf_Created_This_month.iloc[2][1] - Crf_Created_This_month.iloc[1][1]
Crf_Created_This_month_Inc_Dec = format_negative_value(result_value)

In [134]:
Crf_Created_This_month_Inc_Dec

-6

#### CRF APPROVED THIS MONTH

In [105]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)
month_ranges = [
    ('2024-01-01', '2024-01-31'),
    ('2024-02-01', '2024-02-29'),
    ('2024-03-01', '2024-03-31')
    # Add more month ranges as needed
]

results = []

# Establish connection to the database
try:
    with conn.cursor() as cursor:
        # Loop through each month range
        for start_date, end_date in month_ranges:
            # Define SQL query to count distinct acc_no within the date range
            sql_query = """
                SELECT COUNT(DISTINCT acc_no) 
                FROM blueex.acc_form
                WHERE finance_approval BETWEEN %s AND %s
                AND second_approval BETWEEN %s AND %s;
            """
            
            # Execute the SQL query with date range parameters
            cursor.execute(sql_query, (start_date, end_date, start_date, end_date))
            
            # Fetch the result (distinct count of acc_no)
            distinct_count = cursor.fetchone()[0]  # Get the first column of the first row
            
            # Format the month as 'Month-YYYY' (e.g., 'Jan-2024')
            month_year = pd.to_datetime(start_date).strftime('%b-%Y')
            
            # Append result to the list as a dictionary
            results.append({'Month': month_year, 'Distinct_count': distinct_count})

finally:
    # Close the database connection
    conn.close()

# Create a pandas DataFrame from the results list
crf_App = pd.DataFrame(results)

In [145]:
crf_App

      Month  Distinct_count
0  Jan-2024             389
1  Feb-2024             365
2  Mar-2024             361

In [136]:
result_value = crf_App.iloc[2][1] - crf_App.iloc[1][1]

In [138]:
crf_App_Inc_Dec = format_negative_value(result_value)

#### CRF APPROVE AND CREATED THIS MONTH

In [139]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)

month_ranges = [
    ('2024-01-01', '2024-01-31'),
    ('2024-02-01', '2024-02-29'),
    ('2024-03-01', '2024-03-31')
    # Add more month ranges as needed
]

results = []
try:
    with conn.cursor() as cursor:
        for start_date, end_date in month_ranges:
            # Define SQL query to count distinct acc_no within the specified month range
            sql_query = """
                SELECT COUNT(DISTINCT acc_no)
                FROM blueex.acc_form
                WHERE Creation_date BETWEEN %s AND %s
                  AND finance_approval BETWEEN %s AND %s
                  AND second_approval BETWEEN %s AND %s;
            """
            
            # Execute the SQL query with month range parameters
            cursor.execute(sql_query, (start_date, end_date, start_date, end_date, start_date, end_date))
            
            # Fetch the result (distinct count of acc_no)
            distinct_count = cursor.fetchone()[0]  # Get the first column of the first row
            
            # Format the month as 'Month-YYYY' (e.g., 'Jan-2024')
            month_year = pd.to_datetime(start_date).strftime('%b-%Y')
            
            # Append result to the list as a dictionary
            results.append({'Month': month_year, 'Distinct_count': distinct_count})

finally:
    # Close the database connection
    conn.close()

# Create a pandas DataFrame from the results list
CRF_APP_CRE = pd.DataFrame(results)

In [140]:
CRF_APP_CRE

      Month  Distinct_count
0  Jan-2024             360
1  Feb-2024             325
2  Mar-2024             333

In [141]:
result_value = CRF_APP_CRE.iloc[2][1] - CRF_APP_CRE.iloc[1][1]

In [142]:
CRF_APP_CRE_Inc_Dec = format_negative_value(result_value)

#### CRF NOT CREATED BUT APPROVED THIS MONTH

In [156]:
crf_App["Crf_Not_created_Aprroved"] = crf_App["Distinct_count"] - CRF_APP_CRE["Distinct_count"]

In [164]:
Crf_NotCreated_app_Inc_Dec = format_negative_value(crf_App.iloc[2][2] - crf_App.iloc[1][2])

#### CRF Created, Approved and Active this Month

In [172]:
conn = msql.connect(host=dlogin.host, user=dlogin.user, password=dlogin.password, database=dlogin.database)

month_ranges = [
    ('2024-01-01', '2024-01-31'),
    ('2024-02-01', '2024-02-29'),
    ('2024-03-01', '2024-03-31')
    # Add more month ranges as needed
    ]

try:
    with conn.cursor() as cursor:
        results = []  # To store the results for each month range
        
        # Define the SQL query template
        sql_query = """
            SELECT COUNT(DISTINCT acc_no) AS Unique_acc_count
            FROM blueex.acc_form
            WHERE 
                YEAR(creation_date) = %s AND MONTH(creation_date) = %s
                AND YEAR(finance_approval) = %s AND MONTH(finance_approval) = %s
                AND YEAR(second_approval) = %s AND MONTH(second_approval) = %s
                AND YEAR(first_cn) = %s AND MONTH(first_cn) = %s;
        """
        
        # Loop through each month range
        for start_date, end_date in month_ranges:
            # Extract year and month from start_date
            year = int(start_date[:4])
            month = int(start_date[5:7])
            
            # Execute the SQL query with parameters for the current month range
            cursor.execute(sql_query, (year, month, year, month, year, month, year, month))
            
            # Fetch the result
            result = cursor.fetchone()
            month_year = pd.to_datetime(start_date).strftime('%b-%Y')

            
            # Append the result to the list
            results.append({'Month': f'{month_year}', 'Unique_acc_count': result[0]})
        
        # Create a pandas DataFrame from the results list
        crf_created_app_first_cn = pd.DataFrame(results)
    
finally:
    # Close the database connection
    conn.close()

In [173]:
crf_created_app_first_cn

      Month  Unique_acc_count
0  Jan-2024               170
1  Feb-2024               165
2  Mar-2024               171

#### CRF Not Created & Approved this Month but Active this Month

In [180]:
month_ranges = [
    ('2024-01-01', '2024-01-31'),
    ('2024-02-01', '2024-02-29'),
    ('2024-03-01', '2024-03-31')
]

# Initialize a list to store results
results = []

# Loop through each month range
for start_date, end_date in month_ranges:
    # Convert start_date and end_date to datetime objects
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filter the DataFrame based on the specified conditions
    filtered_df = df_sp13[
        (pd.to_datetime(df_sp13['first_cn'], format='%b-%Y') >= start_date) &  # first_cn within the current month range
        (pd.to_datetime(df_sp13['first_cn'], format='%b-%Y') <= end_date) &
        (pd.to_datetime(df_sp13['creation_date']) < start_date) &  # creation_date before the current month
        (pd.to_datetime(df_sp13['finance_approval']) < start_date) &  # finance_approval before the current month
        (pd.to_datetime(df_sp13['second_approval']) < start_date)  # second_approval before the current month
    ]

    # Count the number of distinct acc_no in the filtered DataFrame
    unique_acc_count = filtered_df['acc_no'].nunique()

    # Append the result to the results list
    results.append({
        'Month': f"{start_date.strftime('%b')} {start_date.year}",
        'Unique_acc_count': unique_acc_count
    })

# Create a DataFrame from the results list
Crf_Not_Created_But_Active = pd.DataFrame(results)

In [183]:
Crf_Not_Created_But_Active_Inc_DEC = Crf_Not_Created_But_Active.iloc[2][1] - Crf_Not_Created_But_Active.iloc[1][1]

***DEMO PPT3***

In [ ]:
from pptx import Presentation
from pptx.util import Inches, Pt  # Import Pt for specifying font size in points

# Create a presentation object
prs = Presentation()

# Add a slide to the presentation
slide = prs.slides.add_slide(prs.slide_layouts[5])

# Define table dimensions and position
x, y, cx, cy = Inches(0.5), Inches(1.8), Inches(4.5), Inches(1.5)

# Add a table shape to the slide
table = slide.shapes.add_table(rows=13, cols=2, left=x, top=y, width=cx, height=cy).table

# Access the cell at row 0, column 0 (Description header)
cell_header1 = table.cell(0, 0)
cell_header1.text = "Description"
cell_header1.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

# Access the cell at row 0, column 1 (OCT_23 header)
cell_header2 = table.cell(0, 1)
cell_header2.text = "OCT_23"
cell_header2.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

# For Active Account
ActAcc = table.cell(1, 0)
ActAcc.text = Summarize_Mom_Rep["AccountHeads"][0]
ActAcc.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

ActiveAcc = table.cell(1, 1)
ActiveAcc.text = str(Summarize_Mom_Rep["Oct-23"][0])
ActiveAcc.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

#prev month acc
Prev_Month_head = table.cell(2,0)
Prev_Month_head.text = "Active This Month but not in prev month"
Prev_Month_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

Prev_Month_Val = table.cell(2,1)
Prev_Month_Val.text = "456"
Prev_Month_Val.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

#New Active
New_Acc_head = table.cell(3,0)
New_Acc_head.text = "New Active"
New_Acc_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

New_Acc_val = table.cell(3,1)
New_Acc_val.text = "587"
New_Acc_val.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

#Revived
Rev_head = table.cell(4,0)
Rev_head.text = "Revived"
Rev_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

Rev_val = table.cell(4,1)
Rev_val.text = "789"
Rev_val.text_frame.paragraphs[0].font.size = Pt(10)

#Retained
Ret_head = table.cell(5,0)
Ret_head.text = "Retained from Previous Month"
Ret_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

New_Acc_val = table.cell(5,1)
New_Acc_val.text = "4598"
New_Acc_val.text_frame.paragraphs[0].font.size = Pt(10)

#Active Prev
Prev_Acc_head = table.cell(6,0)
Prev_Acc_head.text = "Active Prev Month Not In this Month"
Prev_Acc_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

Prev_Acc_val = table.cell(6,1)
Prev_Acc_val.text = "587"
Prev_Acc_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF this month
CRF_thisMonth_head = table.cell(7,0)
CRF_thisMonth_head.text = "CRF Created This Month"
CRF_thisMonth_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_thisMonth_val = table.cell(7,1)
CRF_thisMonth_val.text = "5877"
CRF_thisMonth_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF Approv
CRF_Aprov_head = table.cell(8,0)
CRF_Aprov_head.text = "CRF Approved this Month"
CRF_Aprov_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_Aprov_val = table.cell(8,1)
CRF_Aprov_val.text = "987"
CRF_Aprov_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF created
CRF_Created_head = table.cell(9,0)
CRF_Created_head.text = "CRF Created & Approved this Month"
CRF_Created_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_Created_val = table.cell(9,1)
CRF_Created_val.text = "12547"
CRF_Created_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF NOT APPRO
CRF_NotAprov_head = table.cell(10,0)
CRF_NotAprov_head.text = "CRF Not Created but approved this Month"
CRF_NotAprov_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_NotAprov_val = table.cell(10,1)
CRF_NotAprov_val.text = "127"
CRF_NotAprov_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF_C_A
CRF_C_A_head = table.cell(11,0)
CRF_C_A_head.text = "CRF Created, Approved and Active this Month"
CRF_C_A_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_C_A_val = table.cell(11,1)
CRF_C_A_val.text = "897"
CRF_C_A_val.text_frame.paragraphs[0].font.size = Pt(10)

#CRF_NCA_A
CRF_NCA_A_head = table.cell(12,0)
CRF_NCA_A_head.text = "CRF Not Created & Approved this Month but Active this Month"
CRF_NCA_A_head.text_frame.paragraphs[0].font.size = Pt(10)  # Set font size to 10 points

CRF_NCA_A_val = table.cell(12,1)
CRF_NCA_A_val.text = "325"
CRF_NCA_A_val.text_frame.paragraphs[0].font.size = Pt(10)




# Specify the output file path
output_path = "TARGETs.pptx"

# Save the presentation
prs.save(output_path)

In [ ]:
output_path ="TARGETs.pptx"
prs.save(output_path)